<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">


            <label class="btn btn-secondary active">
              <input type="radio" value="" [ngModel]="selectedRadioButtonValue"
                (ngModelChange)="selectedRadioButtonValue = $event" name="options" id="option1" autocomplete="off"
                checked> Random
            </label>
            <label class="btn btn-secondary">
              <input type="radio" value="easy" [ngModel]="selectedRadioButtonValue"
                (ngModelChange)="selectedRadioButtonValue = $event" name="options" id="option2" autocomplete="off"> Easy
            </label>
            <label class="btn btn-secondary">
              <input type="radio" value="medium" [ngModel]="selectedRadioButtonValue"
                (ngModelChange)="selectedRadioButtonValue = $event" name="options" id="option22" autocomplete="off">
              Medium
            </label>
            <label class="btn btn-secondary">
              <input type="radio" value="hard" [ngModel]="selectedRadioButtonValue"
                (ngModelChange)="selectedRadioButtonValue = $event" name="options" id="option22" autocomplete="off">
              Hard
            </label>

            <button class="btn btn-primary btn-round" (click)="startQuiz()">Start New Quiz</button>
          </div>

        </div>
        <div class="centerItems ">
          <ng-template [ngIf]="started" [ngIfElse]="NotStarted">
            <div class="card-container  ">
              <div class="card">
                <div class="front">
                  <div class="cover">
                    Q.No:{{questionNumber+1}}/{{questions.length}}
                    <!-- <img src="assets/img/quiz.jpg" /> -->
                  </div>
                  <div class="user">
                    <!-- <img class="img-circle" src="assets/img/quiz.jpg" /> -->
                  </div>
                  <div class="content">
                    <div class="main">
                      <h3 class="name">{{questions[questionNumber].question}}</h3>
                      <p *ngFor="let answer of answers" class="description">
                        <button class="btn btn-primary btn-round" (click)="selectAnswer(answer)">{{answer}}</button>

                    </div>
                  </div>
                </div> <!-- end front panel -->
              </div> <!-- end card -->
            </div> <!-- end card-container -->
          </ng-template>

          <ng-template #NotStarted>
            <ng-template [ngIf]="ended" [ngIfElse]="startgame">
              <div>
                Total Score: {{score}}

              </div>
            </ng-template>
            <ng-template #startgame>
              <div class="centerItems">
                <h3>Please start the quiz</h3>

              </div>
            </ng-template>
          </ng-template>

        </div>


      </div>
    </div>
  </div>
