.bgShadow {
  -webkit-box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, 0.71);
  box-shadow: 2px 2px 14px 2px rgba(0, 0, 0, 0.71);
}
.centerItems {
  display: flex;
  height: 100%;
  /* background-color: cadetblue;
   */
  justify-content: center; /**/
  align-items: center;
  width: 100%;
}
